/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Georgia', serif;
  font-size: 125%;
}

.chapter-table {
  margin: auto;
}

.chapter-table td {
  padding: 8px;
}

.chapter-table th {
  padding-left: 1vw;
  padding-right: 1vw;
}

.lineno {
  color: gray;
}

.annotation {
  color: red;
}

.summary {
  vertical-align: top;
  color: blue;
}

.annotation, .summary {
  white-space: pre-wrap;
  width: 15vw;
}

.fullwidth {
  width: 100%;
}
